@import url("https://fonts.googleapis.com/css?family=Playfair+Display");

* {
	box-sizing: border-box;
	font-family: "Playfair Display", serif;
	color: #777;
}

html,
body {
	margin: 0;
	padding: 0;
}

.nav ul {
	margin: 0;
}

.nav li {
	display: inline;
}

.nav a {
	display: inline-block;
	padding: .5em;
	color: white;
	text-decoration: none;
}

.main-nav {
	text-align: center;
	font-size: 1.1em;
	font-weight: lighter;
	border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.main-nav li {
	padding: 0 5%;
}

.nav a:hover {
	background-color: rgba(255, 255, 255, .3);
}

.main-header {
	background-color: rgba(0, 0, 0, .3);
	background-image: url("https://images.unsplash.com/photo-1592579737181-5ecc71a756dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
	background-blend-mode: multiply;
	background-size: cover;
	padding-bottom: 30px;
}

.band-name {
	text-align: center;
	margin: 0;
	font-size: 4em;
	color: yellow;
	font-weight: normal;
}

.band-name-large {
	font-size: 9em;
}

.content-section {
	margin: 1em;
}

.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 1.5em;
}

.section-header {
	color: #333;
	text-align: center;
	font-size: 2.5em;
}

.about-band-image {
	width: 100%;
}

.main-footer {
	background-color: rgba(0, 0, 0, .3);
	background-image: url("https://images.unsplash.com/photo-1592579737181-5ecc71a756dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
	background-blend-mode: multiply;
	background-size: cover;
	padding: .25em 0;
}

.main-footer-container {
	display: flex;
	align-items: center;
}

.main-footer-container ul {
	flex-grow: 1;
	text-align: end;
}

.footer-nav {
	padding: 0 .5em;
}

.footer-nav img {
	width: 30px;
	height: 30px;
}
